/*--Allgemeines Aussehen--*/

body {
	background-image: none;
	background-color: #101010;
	color: #d1d1d1;
}

a {
	color: hsl(0, 0%, 75%);
	text-decoration: none;
}

a:hover {
	text-shadow: #8dc3f1 1px 1px 2px;
}

a:active {
	text-shadow: #f1ca8d 0px 0px 4px;
}

#Description {
	font-size: 110%;
}

#wholepage {
	max-width: 1565px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: Arial;
	font-size: 120%;
	margin-top: 0px;
}

h2 {
	font-family: Arial;
	font-size: 105%;
	margin-top: 0px;
}

h3 {
	font-size: 102%;
}

hr {
	width:60%;
	height:1px;
	border:1px solid #999999;
}

/* Klapplinks */

h2, h3 {
	display: inline;
}

/* Infobox links vom Header */

#infobox {
	float: left;
	border: none;
}

/* Release Notes */

#rn {
	float: right;
}

#rn a {
	text-decoration: underline;
}

#rn .red {
	background-color: #efc1c1;
}

#rn .green {
	background-color: #dbf0c1;
}

#rn .green td a:hover {
	text-shadow: #efc1c1 0px 0px 4px;
}

#rn td {
	color: black;
}

#rn td a {
	color: hsl(0, 0%, 25%);
}

#rn td a:hover {
	/*text-shadow: hsl(0, 0%, 50%) 1px 1px 2px;*/
}

/* News */

#Portrait {
	width: 75px;
	float: right;
}

#reg_News li {
	margin-top: 1em;
}

#Description li, #Votes li, #comments li {
	list-style-image: url('http://clonkforge.net/projects/project1125/li.png');
}

/*li:nth-child(odd) {
	background-color: #101010;
}*/

li:nth-child(even) {
	background-color: #202020;
}

#Archiv {
	background-color: #101010;
	border-top: 1px dashed #202020;
}

/* Konzepte */

#reg_concept img {
	max-width: 100%;
}

/* Votes */

.vote {
	color: black;
}

.vote a {
	color: hsl(0, 0%, 25%);
}

/* Kommentare */

#markItUpCommentarea li {
	background-color: transparent;
}

.comment {
	box-shadow: #202020 0px 0px 10px;
}

#comments > div:nth-child(even) {
	background-color: #202020;
}
